In [1]:
a=100

In [ ]:
##declaring multiple variables 
##you cannot start a variable name with a number or 
##  special character except underscore(_)
##always start variable name with a letter or underscore(_)
age=25
name="LQQ"
height=5.9
print("Age:", age)
print("Name:", name)
print("Height:", height)

Age: 25
Name: LQQ
Height: 5.9

In [ ]:
##variable name are case sensitive
Age=30
age=25
print("Age:", Age)
print("Age:", age)

In [4]:
##type checking and conversion
age=22
print(type(age))
##type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
22
<class 'str'>

In [6]:
##stribng into integer
num_str="100"
print(type(num_str))
num_int=int(num_str)
print(num_int)
print(type(num_int))

<class 'str'>
100
<class 'int'>

In [8]:
##but you cannot convert non-numeric strings to integers
##this will raise a ValueError
##example
name="LQQ"
#int(name)  # This line will raise an error

In [9]:
##floating number integer conversion
height=5.9
print(type(height))
height_int=int(height)
print(height_int)
print(type(height_int))

<class 'float'>
5
<class 'int'>

In [10]:
##integer to float
age=22
age_float=float(age)
print(age_float)
print(type(age_float))

22.0
<class 'float'>

In [11]:
##dynamic typing in python
##python aloows you to change the type of variable
#as the program executes
var=10
print(var, type(var))

var="Hello"
print(var, type(var))

var=5.5
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
5.5 <class 'float'>

In [ ]:
##input taking form user
name=input("enter your name")
print("Name:", name)
age=int(input("enter your age"))
print("Age:", age)

Name: samit
Age: 23

In [13]:
##simple calculator 
num1=float(input("enter first number:"))
num2=float(input("enter second number:"))
sum=num1+num2
diff=num1-num2
prod=num1*num2
quot=num1/num2

print("Sum:", sum)
print("Difference:", diff)
print("Product:", prod)
print("Quotient:", quot)

Sum: 24.0
Difference: 20.0
Product: 44.0
Quotient: 11.0