MAP FUNCTION

a map function is a function that applies a function to all the items in a list or collection and returns a map object(an iterator). this is used for transforming a data in a list comprehensively

you can increse your codes readablility and efficiency

In [16]:
##EXAMPLE 
numbers=[1,2,3,4,5,6,7,8]
def square(number):
    return number**2
    
for number in numbers:
    print(square(number))

1
4
9
16
25
36
49
64

In [27]:
## but using a map function we can do it in an easy way
##0nly using map function not lamda

##def square_num(number):
    ##return number**2

numbers=[1,2,3,4,5,6,7,8,9,12]
list(map(square,numbers))
##square is a defined operation
##also insted of quare you can simple write the function you want to call

[1, 4, 9, 16, 25, 36, 49, 64, 81, 144]

In [7]:
##lamda fuction with mapping function
numbers1=[1,2,3,4,5,6,7,8]
list(map(lambda x:x**2,numbers1))

[1, 4, 9, 16, 25, 36, 49, 64]

In [13]:
##map multiplpe iterables
##adding both list items
num1=[1,2,3]
num2=[4,5,6]

added_num=list(map(lambda x,y:x+y,num1,num2))## the ans must be in list so we add this list prefix
print(added_num)

[5, 7, 9]

In [ ]:
##map to conver a list of strings into numbers

str_num=["1","2","3","4","5"]
print(str_num)
int_num=list(map(int, str_num))

print(int_num)

['1', '2', '3', '4', '5']
[1, 2, 3, 4, 5]

In [26]:
##change strings to upper word
words=["aaple", "banana", "mango", "kiwi"]
upper_word=list(map(str.upper,words))

print(upper_word)

['AAPLE', 'BANANA', 'MANGO', 'KIWI']

In [31]:
#for as dictionaries items
def get_name(person):
    return person["name"]

people=[
    {"name":"samit","age":32},
    {"name":"dinesh","age":52}
]

print(list(map(get_name,people)))

['samit', 'dinesh']