In [ ]:
##lists
list=[1,2,3,4,5]
print("Original list:", list)

Original list: [1, 2, 3, 4, 5]

In [ ]:
names = ["Alice", "Bob", "Charlie",1,2,3.14,True]
print("Names List:", names)##any data type can be added in list
names.append("David")
names.append(4)
print("Updated Names List:", names)

Names List: ['Alice', 'Bob', 'Charlie', 1, 2, 3]
Updated Names List: ['Alice', 'Bob', 'Charlie', 1, 2, 3, 'David', 4]

In [ ]:
##accessing list items
fruits = ["apple", "banana", "cherry", "date"]
print("First fruit:", fruits[0])  # Accessing the first item
print("Last fruit:", fruits[3])   # Accessing the last item
##this can be also taken as
print("Last fruit: ", fruits[-1])  # Accessing the last item using negative index
print("First fruit: ", fruits[-4])  # Accessing the first item using negative index

First fruit: apple
Last fruit: date
Last fruit  date
first fruit  apple

In [11]:
print(fruits[1:]) #slicing from index 1 to end

['banana', 'cherry', 'date']

In [12]:
print(fruits[1:3]) # Slicing from index 1 to 2

['banana', 'cherry']

In [14]:
##modifying list elements
fruits

['apple', 'banana', 'cherry', 'date']

In [ ]:
fruits[1] = "blueberry"##fruit at index 1 modified to blueberry
print("Modified list:", fruits)

Modified list: ['apple', 'blueberry', 'cherry', 'date']

In [31]:
##list methods
fruits = ["apple", "banana", "cherry", "date"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'date', 'orange']

In [27]:
fruits.insert(2,"kiwi")
print(fruits)

['apple', 'banana', 'kiwi', 'cherry', 'date', 'orange']

In [28]:
fruits.remove("kiwi")##if there are 2 kiwi it removes first item of occurence
print(fruits)

['apple', 'banana', 'cherry', 'date', 'orange']

In [ ]:
##remove and return the last item
last_fruit = fruits.pop()
print("Popped fruit:", last_fruit)##orange was the lsat 
print("List after popping:", fruits)

Popped fruit: orange
List after popping: ['apple', 'banana', 'cherry', 'date']

In [33]:
index=fruits.index("apple")##returns the index of apple
print("Index of apple:", index)

Index of apple: 0

In [34]:
fruits.insert(2,"banana")
count=fruits.count("banana")##counts no of occurences of banana
print("Count of banana:", count)

Count of banana: 2

In [35]:
##sorting a list
fruits.sort()
print("Sorted list:", fruits)##sort list in ascending order

Sorted list: ['apple', 'banana', 'banana', 'cherry', 'date']

In [36]:
fruits

['apple', 'banana', 'banana', 'cherry', 'date']

In [37]:
##removing all items from the list
fruits.clear()
print("List after clearing:", fruits)

List after clearing: []

slicing lists

In [4]:
##list slicing
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90]
print("Original numbers list:", numbers)

Original numbers list: [10, 20, 30, 40, 50, 60, 70, 80, 90]

In [6]:
print(numbers[2:5])##slicing from index 2 to 4
print(numbers[:4])##slicing from start to index 3
print(numbers[5:])##slicing from index 5 to end
print(numbers[::2])##slicing with step 2
print(numbers[::-1])##reversing the list using slicing

[30, 40, 50]
[10, 20, 30, 40]
[60, 70, 80, 90]
[10, 30, 50, 70, 90]
[90, 80, 70, 60, 50, 40, 30, 20, 10]

In [7]:
numbers[::3]

[10, 40, 70]

In [9]:
##iterating
for number in numbers:
    print(number)

10
20
30
40
50
60
70
80
90

In [ ]:
##iterationn with index (enumerate() function)
for index, number in enumerate(numbers):
    print(index,number)

0 10
1 20
2 30
3 40
4 50
5 60
6 70
7 80
8 90

In [12]:
##list comprehension
list=[]
for x in range(10):
    list.append(x**2)

print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
##this can be written in another simple way as
##[operation , iteration]

[x**2 for x in range(10)]
##in this way it already forms a list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

##list comprehension

basic syntax ::

[expression/operation for item in iteration]
____________________________________________________
with condition logic ::

[expression/operation for item in iteration if condition ]
______________________________________________________
nested list comprehension ::

[expression/operation for item1 in iteration1 for item2 in iteration2]

In [15]:
##bassic list comprehension
square=[num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
##list comprehension with condition
list=[]
for i in range(10):
    if i%2==0:
        list.append(i)

print(list)

[0, 2, 4, 6, 8]

In [ ]:
#3now this can be written as
even_numbers = [num for num in range(10) if num % 2 == 0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [18]:
##nested list comprehension

list1=[1,2,3]
list2=['a','b','c','d']

pair=[(x,y) for x in list1 for y in list2]
print(pair)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd')]

In [19]:
##another a*b multiply example
a=[1,2,3]
b=[4,5,6]
product=[i*j for i in a for j in b]
print(product)

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [21]:
##list comprehension with function calls
words=["hello","world","python","programming"]
lengths=[len(word) for word in words]
print(lengths)##output: [5, 5, 6, 11]

[5, 5, 6, 11]