tuples are ordered collections of item which are immutable 

they are similar to lists but cannot be changed once created

tuples are defined using parentheses ()

In [2]:
##creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [ ]:
lst=list()##this is an emty list
print(type(lst))
tpl=tuple()##this is an empty tuple
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [1]:
numbers=tuple([1,2,3,4,5])##changing a list into tuple
print(numbers)

(1, 2, 3, 4, 5)

In [2]:
list((1,2,3,4,5))##changing a tuple into list

[1, 2, 3, 4, 5]

In [5]:
mixed_tuple=(1,"hello",3.4,True)
print(mixed_tuple)

(1, 'hello', 3.4, True)

In [6]:
##accesing tuple elements
numbers

(1, 2, 3, 4, 5)

slicing and indexing operation will be same as they were on the list

In [8]:
print(numbers[0])##first element
print(numbers[2])##third element
print(numbers[-1])##last element
print(numbers[1:4])##slicing
##tuples are immutable
#numbers[0]=10          ##this will raise an error

1
3
5
(2, 3, 4)

In [9]:
##tuple operations
tuple1=(1,2,3)
mixed_tuple2=("a",1,True)
concatinated_tuple=tuple1+ mixed_tuple2
print(concatinated_tuple)

(1, 2, 3, 'a', 1, True)

In [11]:
mixed_tuple*3##the mixed tuple will become threee times

(1, 'hello', 3.4, True, 1, 'hello', 3.4, True, 1, 'hello', 3.4, True)

In [12]:
tuple1*2##the tuple1 will become two times

(1, 2, 3, 1, 2, 3)

In [14]:
list1=[1,2,3,4,5]
list1*3 ##the list will become three times

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
##immutable nature of tuples
lst2=[1,2,3]
print(lst2)

lst2[1]="samit"##list are mutable but tuples are not
print(lst2)

[1, 2, 3]
[1, 'samit', 3]

In [23]:
num=(1,1,2,3,4,5)
print(num)

(1, 1, 2, 3, 4, 5)

In [ ]:
print(num.count(1))##counting occurence of 1 in the tuple
print(num.index(3))##finding index of element 3 in the tuple

2
3

In [29]:
##packing and unpacking tuple
packed_tuple="samit",25,"engineer"##yesari define garyo vane ni tuple nai hunxa
print(packed_tuple)
##unpacking a tuple
name,age,profession=packed_tuple
print(name)
print(age)
print(profession)

('samit', 25, 'engineer')
samit
25
engineer

In [33]:
##unpacking with stars
number_tuple=(1,2,3,4,5,6,7,8,9)
first,*middle,last=number_tuple
print(first)##what * does it it take all remaining elements in the middle
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8]
9

In [ ]:
##nested list

nested_list=[[1,2,3],[4,5,6],[7,8,9]]
nested_list[0][1]##accessing index 1 from list0
nested_list[2][0:3]##accessing all elements from list2

[7, 8, 9]

In [39]:
##nested tuples
nested_tuple=((1,2,3),("a","b","c"),(True,False))
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [44]:
##iterating over nested tuple
for tuple in nested_tuple:
    for item in tuple:
        print(item,end=" ")##end is used for printing in the same line 
                          ##even after each loop every thing print on same line
    print( )#this prints a blank line 
    ##it is necessary as it moves the cursor in the new line

1 2 3
a b c
True False